@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size: 1.6rem;

  --primary: #673ab7;
  --primary-dark: #3b2667;
  --primary-light: #d1c4e9;
  --primary-text: #3b2667;
  --primary-transparent: #673ab788;

  --secondary: #03dac6;
  --secondary-dark: #018786;
  --secondary-light: #a7ffeb;

  --background: white;
  --background-transparent: #fffb;
  --background-fixed: white;
  --background-inversed: #1b1c1d;
  --background-inversed-fixed: #222;

  --shadow: #00000022;

  --menu: #d1c4e955;

  --text: black;
  --text-fixed: black;
  --text-light: grey;
  --text-light-fixed: darkgrey;
  --text-inversed: white;
  --text-inversed-fixed: white;

  --lightgrey: lightgrey;
  --grey: grey;
  --darkgrey: darkgrey;
  --border: white;
  --green: green;
  --red: crimson;
  --lightred: rgb(218, 151, 164);
  --orange: orange;

  --inactive: #00000011;
  --active: #00000022;
}

[data-dark="on"] {
  --background: #222;
  --background-transparent: #222b;
  --background-inversed: white;
  --menu: #3b266755;
  --text: white;
  --text-light: darkgrey;
  --text-inversed: black;
  --primary-text: #e4d8fa;
  --shadow: #ffffff22;
}

[data-fontsize="small"] {
  --font-size: 1.3rem;
}
[data-fontsize="medium"] {
  --font-size: 1.6rem;
}
[data-fontsize="large"] {
  --font-size: 2rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  overscroll-behavior: contain;
  background: var(--background);
  color: var(--text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.3s ease;
  font-size: 16px;
  height: var(--responsive-height, 98vh);
  width: var(--responsive-width, 100vw);
}

div::-webkit-scrollbar,
p::-webkit-scrollbar {
  width: 5px;
}

/* Track */
div::-webkit-scrollbar-track,
p::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0;
}

/* Handle */
div::-webkit-scrollbar-thumb,
p::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 0;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover,
p::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark);
}

h1 {
  min-height: 1em;
  font-size: 2em;
}

h2 {
  font-size: 1.71428571em;
}

h3 {
  font-size: 1.28571429em;
}

h4 {
  font-size: 1.07142857em;
}

h5 {
  font-size: 1em;
}

.flex {
  flex: 1 1 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinNonLinear {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.77, 0.09, 0.35, 0.83);
  }

  100% {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0.77, 0.09, 0.35, 0.83);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.Rendering {
  opacity: 0.5;
  filter: blur(3px);
  cursor: wait !important;
}

/* Document Style */

.field {
}

.paragraph {
  vertical-align: middle;
}

span.token {
  position: relative;
  /* vertical-align: bottom; */
  color: var(--text-light);
  white-space: nowrap;
}

span.token.pre,
span.token.text,
span.token.post {
  position: relative;
  padding: 0.1em 0rem 0.1em;
}

span.token.pre .relation,
span.token.text .relation,
span.token.post .relation {
  position: absolute;
  bottom: -0.5em;
  left: 0%;
  width: 100%;
  height: 0.5em;
  background: none;
}

span.token.pre,
span.token.post {
  white-space: nowrap;
}

.relationMode {
  cursor: not-allowed;
}
.relationMode span.token {
  opacity: 0.6;
}
.relationMode span.token.can-select {
  opacity: 1;
  cursor: crosshair;
}

span.token.codingUnit {
  font-size: 1.2em;
  color: var(--text);
}

span.token:focus {
  outline: none;
}

span.token:focus > span.text,
span.token.selected > span.text {
  background-color: var(--text-light) !important;
  color: var(--text-inversed);
}

span.token.selected:not(.end) > span.post {
  background-color: var(--text-light) !important;
}
span.token.selected:not(.start) > span.pre {
  background-color: var(--text-light) !important;
}

span.token.tapped > span {
  transition: text-decoration 0.3s ease;
  text-decoration: underline overline !important;
}

button.active {
  border: solid !important;
}

.editMode.token {
  cursor: not-allowed;
}
.editMode.token.annotated {
  cursor: pointer;
}

span.token.annotated > span {
  /* line-height: 1.5em; */
  transition: background 0.3s ease;
  border: 1px solid var(--background-inversed-fixed);
  border-left: none;
  border-right: none;
  /* cursor: pointer;; */
  vertical-align: bottom;
  box-shadow: none;
  box-sizing: border-box;
  hyphens: none;

  /* add white background for dark mode. Annotation colors are customizable,
  so we use opacity on a white background to ensure text readability.
  (also possible on black background, but not easy on the eyes)  */
  color: var(--text-fixed);
  position: relative;
}

span.token.annotatred > span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  border-radius: inherit;
}

span.token.annotated.anyLeft > span.text {
  border-left: solid;
  border-left-width: 0px;
  border-bottom-left-radius: 0px;
}

span.token.annotated.allLeft > span.pre {
  border: none;
  background: none;
}
span.token.annotated.allLeft > span.text {
  padding-left: 3px;
  border-left: 1px solid var(--background-inversed-fixed);
  border-left-width: 1px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

span.token.annotated.anyRight > span.text {
  border-right: 0px solid;
}
span.token.annotated.allRight > span.post {
  border: none;
  background: none;
}
span.token.annotated.allRight > span.text {
  padding-right: 3px;
  border-right: 1px solid var(--background-inversed-fixed);
  border-right-width: 1px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.overlayFocus {
  transition: background-color 500ms;
  position: relative;
  background-color: var(--background) !important;
  border: 1px double var(--border);
  border-radius: 20px;
  box-shadow: 0px 1px 3px black;
  z-index: 20;
}

.menu > .selected {
  background: var(--primary) !important;
  color: var(--text-inversed) !important;
}

.buttonBackground {
  position: relative;
}

.buttonBackground::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  border-radius: inherit;
}

/* Annotator style */

input[type="range"] {
  border-radius: 2px;
  height: 14px;
  margin-top: 5px;
  background-color: var(--primary-light) !important;
  outline: none;
  cursor: crosshair;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 24px;
  padding: 0;
  background: var(--primary-light);
  cursor: pointer;
  border: 1px solid var(--background-inversed-fixed);
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 10px;
  height: 24px;
  padding: 0;
  background: var(--primary-dark);
  cursor: pointer;
  border-radius: 0px;
}

.fullscreen {
  height: 100%;
  width: 100%;
}

.dom-node-provider {
  height: 100%;
  width: 100%;
}
