@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 70px;

    --background: 0, 0%, 100%;
    --foreground: 222.2, 84%, 10%;
    --foreground-reverse: 222.2, 84%, 90%;
    --header: 0, 0%, 80%;

    --card: 0, 0%, 100%;
    --card-foreground: 222.2, 84%, 4rgb (0, 0, 0) 0.9%;

    --primary: 174, 50%, 45%;
    --primary-foreground: 222.2, 47.4%, 0%;
    --primary-light: 174, 50%, 35%;
    --primary-dark: 174, 30%, 20%;

    --secondary: 39, 100%, 86%;
    --secondary-foreground: 222.2, 47.4%, 10%;

    --muted: 0, 0%, 50%;
    --muted-foreground: 0.4, 16.3%, 46.9%;

    --accent: 174, 40%, 96.1%;
    --accent-foreground: 174, 47.4%, 11.2%;

    --check: 174, 56%, 40%;
    --check-foreground: 222.2, 47.4%, 0%;

    --warn: 0, 84.2%, 60.2%;
    --warn-foreground: 210, 40%, 98%;

    --destructive: 0, 84.2%, 60.2%;
    --destructive-foreground: 210, 40%, 98%;

    --border: 214.3, 31.8%, 80.4%;
    --input: 214.3, 31.8%, 80.4%;
    --ring: 174, 80%, 30%;

    --radius: 0.5rem;

    --navbar-height: 80px;
    --navbar-height-md: 112px;

    --popover: 0, 0%, 100%;
    --popover-foreground: 222.2, 84%, 10%;

    --nav-border-height: 0px;
  }

  [data-dark="on"] {
    --background: 0, 0%, 14%;
    --foreground: 222.2, 84%, 100%;
    --foreground-reverse: 222.2, 84%, 10%;
    --header: 0, 0%, 20%;

    --card: 0, 0%, 100%;
    --card-foreground: 222.2, 84%, 4rgb (0, 0, 0) 0.9%;

    --muted: 0, 0%, 50%;
    --muted-foreground: 0.4, 16.3%, 46.9%;

    --accent: 0, 0%, 11.1%;
    --accent-foreground: 0, 0%, 90.2%;

    --check: 174, 56%, 50%;
    --check-foreground: 222.2, 47.4%, 0%;

    --warn: 0, 84.2%, 60.2%;
    --warn-foreground: 210, 40%, 98%;

    --destructive: 0, 84.2%, 60.2%;
    --destructive-foreground: 210, 40%, 98%;

    --border: 214.3, 31.8%, 91.4%;
    --input: 214.3, 31.8%, 91.4%;
    --ring: 222.2, 84%, 4.9%;

    --popover: 0, 0%, 14%;
    --popover-foreground: 222.2, 84%, 90%;
  }

  [data-fontsize="small"] {
    --font-size: 0.8rem;
  }
  [data-fontsize="medium"] {
    --font-size: 1rem;
  }
  [data-fontsize="large"] {
    --font-size: 1.2rem;
  }
}

#Document {
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
}

body {
  margin: 0;
  overscroll-behavior: contain;
  background: hsl(var(--background));
  color: hsl(--var(--foreground));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* transition: all 0.3s ease; */
  font-size: 16px;
  height: var(--responsive-height, 98vh);
  width: var(--responsive-width, 100vw);
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--primary-dark));
}

div::-webkit-scrollbar,
p::-webkit-scrollbar {
  width: 5px;
}

/* Track */
div::-webkit-scrollbar-track,
p::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0;
}

/* Handle */
div::-webkit-scrollbar-thumb,
p::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary), 1);
  border-radius: 0px;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover,
p::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--primary-dark));
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinNonLinear {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.77, 0.09, 0.35, 0.83);
  }

  100% {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0.77, 0.09, 0.35, 0.83);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.Rendering {
  opacity: 0.5;
  filter: blur(3px);
  cursor: wait !important;
}

/* Document Style */

.field {
}

.paragraph {
  vertical-align: middle;
}

span.token {
  position: relative;
  /* vertical-align: bottom; */
  color: var(--text-light);
  white-space: nowrap;
}

span.token.pre,
span.token.text,
span.token.post {
  position: relative;
  padding: 0.1em 0rem 0.1em;
}

span.token.pre .relation,
span.token.text .relation,
span.token.post .relation {
  position: absolute;
  bottom: -0.5em;
  left: 0%;
  width: 100%;
  height: 0.5em;
  background: none;
}

span.token.pre,
span.token.post {
  white-space: nowrap;
}

.relationMode {
  cursor: not-allowed;
}
.relationMode span.token {
  opacity: 0.6;
}
.relationMode span.token.can-select {
  opacity: 1;
  cursor: crosshair;
}

span.token.codingUnit {
  /* font-size: 1.2em; */
  color: hsl(--var(--foreground));
}

span.token:focus {
  outline: none;
}

span.token:focus > span.text,
span.token.selected > span.text {
  background-color: var(--text-light) !important;
  color: var(--text-inversed);
}

span.token.selected:not(.end) > span.post {
  background-color: var(--text-light) !important;
}
span.token.selected:not(.start) > span.pre {
  background-color: var(--text-light) !important;
}

span.token.tapped > span {
  transition: text-decoration 0.3s ease;
  text-decoration: underline overline !important;
}

button.active {
  border: solid !important;
}

.editMode.token {
  cursor: not-allowed;
}
.editMode.token.annotated {
  cursor: pointer;
}

span.token.annotated > span {
  /* line-height: 1.5em; */
  transition: background 0.3s ease;
  border: 1px solid var(--background-inversed-fixed);
  border-left: none;
  border-right: none;
  /* cursor: pointer;; */
  vertical-align: bottom;
  box-shadow: none;
  box-sizing: border-box;
  hyphens: none;

  /* add white background for dark mode. Annotation colors are customizable,
  so we use opacity on a white background to ensure text readability.
  (also possible on black background, but not easy on the eyes)  */
  color: var(--text-fixed);
  position: relative;
}

span.token.annotatred > span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  border-radius: inherit;
}

span.token.annotated.anyLeft > span.text {
  border-left: solid;
  border-left-width: 0px;
  border-bottom-left-radius: 0px;
}

span.token.annotated.allLeft > span.pre {
  border: none;
  background: none;
}
span.token.annotated.allLeft > span.text {
  padding-left: 3px;
  border-left: 1px solid var(--background-inversed-fixed);
  border-left-width: 1px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

span.token.annotated.anyRight > span.text {
  border-right: 0px solid;
}
span.token.annotated.allRight > span.post {
  border: none;
  background: none;
}
span.token.annotated.allRight > span.text {
  padding-right: 3px;
  border-right: 1px solid var(--background-inversed-fixed);
  border-right-width: 1px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.overlayFocus {
  transition: background-color 500ms;
  position: relative;
  background-color: hsl(var(--background)) !important;
  border: 1px double var(--border);
  border-radius: 20px;
  box-shadow: 0px 1px 3px black;
  z-index: 20;
}

.menu > .selected {
  background: hsl(var(--primary)) !important;
  color: var(--text-inversed) !important;
}

.buttonBackground {
  position: relative;
}

.buttonBackground::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  border-radius: inherit;
}

/* Annotator style */

.unit-slider[type="range"] {
  border-radius: 2px;
  height: 15px;
  margin-top: 2px;
  background: linear-gradient(
    to right,
    hsl(var(--primary-foreground), 0.4) var(--progress, "0%"),
    hsl(var(--primary-foreground), 0.2) var(--progress, "0%") 100%
  );
  cursor: crosshair;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.unit-slider[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: max(var(--thumb-width, 10%), 20px);
  height: 20px;
  padding: 0;
  background: hsl(var(--primary-dark));
  cursor: pointer;
  border-radius: 2px;
}

.unit-slider[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 10%;
  height: 20px;
  padding: 0;
  background: hsl(var(--primary-dark));
  cursor: pointer;
  position: relative;
  border-radius: 2px;
}

.fullscreen {
  height: 100%;
  width: 100%;
}

.dom-node-provider {
  height: 100%;
  width: 100%;
}

.spike-loader {
  --color: hsl(var(--primary));
  position: relative;
  width: 85px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: linear-gradient(var(--color) 50px, transparent 0),
    linear-gradient(var(--color) 50px, transparent 0), linear-gradient(var(--color) 50px, transparent 0),
    linear-gradient(var(--color) 50px, transparent 0), linear-gradient(var(--color) 50px, transparent 0),
    linear-gradient(var(--color) 50px, transparent 0);
  background-position:
    0px center,
    15px center,
    30px center,
    45px center,
    60px center,
    75px center,
    90px center;
  animation: rikSpikeRoll 0.65s linear infinite alternate;
}
@keyframes rikSpikeRoll {
  0% {
    background-size: 10px 3px;
  }
  16% {
    background-size:
      10px 50px,
      10px 3px,
      10px 3px,
      10px 3px,
      10px 3px,
      10px 3px;
  }
  33% {
    background-size:
      10px 30px,
      10px 50px,
      10px 3px,
      10px 3px,
      10px 3px,
      10px 3px;
  }
  50% {
    background-size:
      10px 10px,
      10px 30px,
      10px 50px,
      10px 3px,
      10px 3px,
      10px 3px;
  }
  66% {
    background-size:
      10px 3px,
      10px 10px,
      10px 30px,
      10px 50px,
      10px 3px,
      10px 3px;
  }
  83% {
    background-size:
      10px 3px,
      10px 3px,
      10px 10px,
      10px 30px,
      10px 50px,
      10px 3px;
  }
  100% {
    background-size:
      10px 3px,
      10px 3px,
      10px 3px,
      10px 10px,
      10px 30px,
      10px 50px;
  }
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}
